---
apiVersion: v1
kind: Service
metadata:
  name: backend
  labels:
    app: pl-predictor
    component: backend
spec:
  type: ClusterIP
  selector:
    app: pl-predictor
    component: backend
  ports:
    - name: http
      port: 8000
      targetPort: 8000
...