---
apiVersion: v1
kind: Service
metadata:
  name: database
  labels:
    app: pl-predictor
    component: database
spec:
  type: ClusterIP
  selector:
    app: pl-predictor
    component: database
  ports:
    - name: postgres
      port: 5432
      targetPort: 5432
...