.btn {
  background-color: var(--clr-secondary-5);
  color: white;
  border-color: var(--clr-primary-5);
  border-width: 4px;
  border-radius: 999px;
  padding: 1rem 1rem;
  cursor: pointer;
  width: 15rem;
  font-size: 1.2rem;
  font-family: inherit;
}

.btn:hover {
  background-color: var(--clr-secondary-4);
}

.active:hover {
  background-color: var(--clr-secondary-1);
  color: var(--clr-primary-5);
}

.btn:disabled {
  background-color: var(--clr-secondary-1); 
  color: var(--clr-primary-5);
  cursor: not-allowed;
  opacity: 0.8;
}