/* Base CSS style for all buttons */
.btn {
  border-color: var(--clr-primary-5);
  border-width: 4px;
  border-radius: 999px;
  
  color: white;
  
  cursor: pointer;
  font-family: inherit;
}

/* Sizes */
.btn-small {
  padding: 0.5rem 1rem;
  width: 10rem;
  font-size: 1.2rem;
}

.btn-large {
  padding: 1rem 1rem;
  width: 15rem;
  font-size: 1.2rem;
}

/* Colors */
.btn-green {
  background-color: var(--clr-secondary-5);
}

.btn-green:hover {
  background-color: var(--clr-secondary-4);
}

.btn-green:disabled {
  background-color: rgb(0, 241, 136);
  color: var(--clr-primary-5);
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-blue {
  background-color: rgb(1, 36, 159);
}

.btn-blue:hover {
  background-color: rgb(41, 123, 255);
}

.btn-blue:disabled {
  background-color: rgb(117, 170, 255); 
  color: var(--clr-primary-5);
  cursor: not-allowed;
  opacity: 0.8;
}

.btn-red {
  background-color: rgb(167, 0, 0);
}

.btn-red:hover {
  background-color: rgb(225, 0, 0);
}

.btn-red:disabled {
  background-color: rgb(255, 24, 24);
  color: var(--clr-primary-5);
  cursor: not-allowed;
  opacity: 0.8;
}