.btn {
  background-color: var(--clr-secondary-5);
  color: white;
  border-color: var(--clr-primary-5);
  border-width: 4px;
  border-radius: 999px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 15rem;
  font-size: 1rem;
  font-family: inherit;
}

.btn:hover {
  background-color: var(--clr-secondary-4);
}