button {
  background-color: var(--clr-primary-2);
  border-color: var(--clr-primary-4);
  border-width: 4px;
  border-radius: 999px;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 15rem;
  font-size: 1rem;
  font-family: inherit;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}