.matchcard {
  display: grid;
  grid-template-columns: 7rem auto 7rem; /* date, pill, correct */
  align-items: center;
  width: 100%;
  max-width: 1100px;
  padding: 1rem 0;
}

.matchdate {
  justify-self: center;
  color: var(--clr-ternary-4);
}

.matchpill {
  justify-self: stretch;

  width: min(100%, 50rem);
  margin: 0 auto;

  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;

  height: 5rem;
  background-color: var(--clr-ternary-3);

  border: 3px solid var(--clr-ternary-4);
  border-radius: 999px;

  overflow: hidden;
  cursor: pointer;
}

.segment {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  height: 100%;
}

.segment.home {
  /* align home segment to the left of middle */
  justify-content: flex-end;
}

.segment.away {
  /* align away segment to the right of middle */
  justify-content: flex-start;
}

.segment.mid {
  justify-content: center; /* keeps vs. centered */
}

.team {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
}

.team.home {
  justify-content: flex-start;
}

.team.away {
  justify-content: flex-end;
}

.matchpill img {
  width: 3rem;
  height: auto;
}

.vs {
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.7;
}

.matchpill.home_win .segment.home,
.matchpill.away_win .segment.away {
  background-color: var(--clr-secondary-2);
}

.matchpill.home_win .segment.home .teamname,
.matchpill.away_win .segment.away .teamname {
  font-weight: 800;
}

.matchpill.draw {
  background-color: var(--clr-secondary-1);
}

.probpill {
  grid-column: 1 / -1;  /* span all columns of matchpill's grid */
  display: flex;
  width: 100%;
  height: 100%;
}

.probseg {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 800;
  font-size: 1.2rem;

  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.probseg.draw {
  background-color: var(--clr-ternary-3);
  color: var(--clr-ternary-4);
}

.correct {
  justify-self: center;
}

.correct img {
  width: 3rem;
  height: auto;
}