.navbar {
  display: flex;
  background-color: var(--clr-primary-5);
  padding: 1rem 1rem;
  border-radius: 6rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.button-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0rem 1rem;
}