.navbtn {
  display: inline-block;
  background: var(--clr-primary-2);
  color: var(--clr-ternary-1);
  width: 8.5rem;
  padding: 0.5rem 1.25rem;
  border-radius: 999px;
  font-size: 17px;
  transition: all 0.2s linear;
}

.navbtn:hover {
  background: var(--clr-primary-1);
}

.navbtn-active {
  background: var(--clr-primary-3);
  color: white;
  transform: scale(1.10);
  border: 2px solid white;
}