.simulation-select {
  margin-bottom: 3rem;
}

.simulation-select-text {
  font-size: 1.1rem;
  font-weight: 500;
}

.simulation-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  margin: 0 auto;
  width: fit-content;
}

.simulation-select-dropdown select {
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #aaa;
  width: 20rem;
}

.simulation-status {
  margin-top: 1rem;
}

.simulation-status-label {
  font-size: 1.1rem;
}

.simulation-status-text {
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: underline;
}