.standings-row {
  --stripe-w: 4rem;

  position: relative;
  overflow: hidden;
  width: 100%;

  border-radius: 999px;
  border: 3px solid var(--clr-ternary-4);
  background-color: var(--clr-ternary-3);
  box-sizing: border-box;

  display: grid;
  grid-template-columns:
    var(--stripe-w) /* position */
    minmax(220px, 1fr) /* team logo + name */
    repeat(4, 4ch) /* played, won, drew, lost */
    5ch; /* points */

  align-items: center;
  padding: 1rem 1.25rem;
  padding-left: 0;

  column-gap: 0.75rem;
}

/* The colored left cap. */
.standings-row::before {
  content: "";
  position: absolute;

  left: 0;
  top: 0;
  bottom: 0;

  width: var(--stripe-w);
  background: transparent;
}

/* Color schemes indicating Champions League, Europa League, and relegation. */
.standings-row.champions-league::before {
  background: rgb(16, 45, 230);
}

.standings-row.champions-league .position {
  color: white;
}

.standings-row.europa-league::before {
  background: rgb(255, 105, 0);
}

.standings-row.relegation::before {
  background: rgb(255, 40, 130);
}

/* Keep content above stripe */
.standings-row > * {
  position: relative;
  z-index: 1;
}

/* Position number centered inside the stripe column. */
.position {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100%;
  font-weight: 700;
  line-height: 1;
}

/* Components of Table card. */
.standings-cell {
  font-size: 1rem;
  justify-self: center;
}

.team-cell {
  display: flex;
  align-items: center;
}

.team-cell img {
  display: block;
  width: 3rem;
  height: auto;
  margin-right: 1rem;
}

.team-name {
  font-size: 1.1rem;
  font-weight: 700;
  margin-right: 1rem;
}

.team-acronym {
  margin-right: 1rem;
}
