.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.title {
  display: flex;
  align-items: center;
  transform: scale(0.75);
}

.title img {
  width: 15rem;
  height: auto;
}

.title-text {
  color: var(--clr-primary-2);
  font-size: 45px;
  font-weight: 700;
  margin-top: 40px;
}