---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: pl-predictor
    component: frontend
spec:
  type: ClusterIP
  selector:
    app: pl-predictor
    component: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
...