.resource-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.resource-list li {
  margin: 0.75rem 0;
}

.resource-list a {
  font-size: 1.1rem;
  color: var(--clr-primary-2);
  text-decoration: none;
}

.resource-list a:hover {
  text-decoration: underline;
}