.about-list {
  margin: 1rem auto;
  padding-inline-start: 1.5rem;
}

.about-list.data {
  max-width: 450px;
}

.about-list.resources {
  max-width: 120px;
}

.about-list.models {
  max-width: 200px;
}

.about-list li {
  margin: 0.75rem 0;
  justify-self: flex-start;
}

.about-list a {
  font-size: 1.1rem;
  color: var(--clr-primary-2);
  text-decoration: none;
}

.about-list a:hover {
  text-decoration: underline;
}