.matches-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  min-height: 100vh;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;

  padding-bottom: 10rem;
}

.match-header {
  width: 100%;
  max-width: 1100px;

  display: grid;
  grid-template-columns: 7rem auto 7rem;
  align-items: center;

  margin-top: 0;
  margin-bottom: 0.5rem;
}

.match-header-cell {
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-ternary-4);
  text-transform: uppercase;
  justify-self: center;
}

.matches-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}