.table-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  min-height: 100vh;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;

  font-variant-numeric: tabular-nums;
  
  padding-bottom: 10rem;
}

.table-grid {
  --stripe-w: 4rem;

  width: 100%;
  display: grid;
  grid-template-columns:
    var(--stripe-w)         /* position */
    minmax(220px, 1fr)      /* team logo + name */
    repeat(4, 4ch)          /* played, won, drew, lost */
    5ch;                    /* points */
    
  align-items: center;

  padding-right: 1.25rem;
  padding-left: 0;
  
  column-gap: 0.75rem;
  box-sizing: border-box;

}

.table-header {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.table-header-cell {
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-ternary-4);
  text-transform: uppercase;
  justify-self: center; 
}

.table-header-cell.team {
  justify-self: start;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}