#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  display: flex;
  position: sticky;
  background-color: var(--clr-ternary-2);
  top: 0;
  z-index: 1000;
  align-items: center;
  gap: 2rem;
}