:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CUSTOM COLORS */
  /* Purple */
  --clr-primary-1:  rgb(149, 66, 213);
  --clr-primary-2:  rgb(112, 48, 161);
  --clr-primary-3:  rgb(62, 25, 91);
  --clr-primary-4: rgb(28, 12, 40);
  --clr-primary-5: rgb(0, 0, 0);

  /* Green */
  --clr-secondary-1: rgb(235, 255, 0);
  --clr-secondary-2: rgb(98, 255, 80);
  --clr-secondary-3: rgb(2, 249, 194);
  --clr-secondary-4: rgb(0, 152, 119);
  --clr-secondary-5: rgb(0, 108, 85);
  
  /* White/Gray */
  --clr-ternary-1: rgb(255, 255, 255);
  --clr-ternary-2: rgb(225, 225, 225);
  --clr-ternary-3: rgb(200, 200, 200);
  --clr-ternary-4: rgb(67, 67, 67);
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: var(--clr-primary-3);
}

.resource-list a {
  font-size: 1.1rem;
  color: var(--clr-primary-3);
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--clr-ternary-2);
  color: var(--clr-ternary-4);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
